@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

body {
  font-family: "나눔고딕", Nanum Gothic, "굴림", "Gulim", "sans-serif", "Tahoma";
  font-size: 14px;
}

h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1rem;
}

button {
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 0.2rem;
  min-width: 60px;
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.label {
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.icon {
  position: absolute;
  right: 1rem;
  top: 2rem;
  font-size: 1.8rem;
  color: white;
}

.machine {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: auto;
  width: 800px;
  margin: 10vh auto;
  gap: 1rem;
  padding: 1rem;
  background-color: #071108;
  border-radius: 1rem;
}

.header {
  grid-column: 1/3;
  grid-row: 1;
}

.container {
  position: relative;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
}

.drink-box {
  padding-top: 3em;
  grid-column: 1/2;
  grid-row: 2;
}

.input-box {
  padding-top: 3em;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.output-box {
  grid-column: 1/3;
  grid-row: 3;
}

.drinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.drink {
  width: 40%;
}

.drink:hover {
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.output-box {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.return {
  background-color: #1e91d6;
  color: white;
  width: 100%;
  padding: 0.3rem 0;
}

.return:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.coins {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 0.5em;
}

.coin:hover {
  background-color: #f8f4a6;
}

.balance {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.money {
  border: 1px solid black;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  width: 100px;
  text-align: right;
}

.footer {
  color: white;
  text-align: center;
  grid-row: 4;
  grid-column: 1/3;
}

@media screen and (max-width: 768px) {
  .machine {
    margin: 0;
    display: block;
    width: 95%;
  }

  .container {
    margin-bottom: 1em;
  }

  .coins {
    display: flex;
    flex-direction: column;
  }

  .coin {
    width: 100%;
  }

  .drink {
    width: 100%;
  }

  .input-box > * {
    margin-bottom: 1rem;
  }
}
